 <h1>Hello</h1>
 
 <a href="/">Your todo list</a>
      |
      <a href="/edit_user_profile">Edit profile</a>
      |
      <a href="/user_sign_out">Sign out</a>

    <h1>Your todo list</h1>

<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="content_box">
          Describe the task:
        </label>

        <input type="text" id="content_box" name="query_description">
        <input type="hidden" name="query_status" value="Next up">
        <input type="text" name="query_user_id" value="<%= session[:user_id]%>">
      </div>

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>


<div class="next_up" color="darkorange">
  <h2>Next Up</h2>

  <ul>
      <% next_todos = Todo.where({:status => "Next up"}) %>
      <% next_todos.each do |a_todo| %>
      <li>
        <div><%= a_todo.description %></div>

        <small>
          <%= time_ago_in_words(a_todo.created_at)%>

          <a href="/delete_todo/#{a_todo.id}">Delete</a>
        </small>

        <form action="/modify_todo/#{a_todo.id}" method="post">
        <input type="hidden" name="query_status" value="In Progress">
        <input type="hidden" name="path_id" value="<%= a_todo.id %>">
          <button>Move to In Progress</button>
        </form>
      </li>
      <% end %>
  </ul>>
</div>

<div class="in_progress" color="darkgreen">

  <h2>In Progress</h2>

  <ul>
     <% next_todos = Todo.where({:status => "In Progress"}) %>
     <% next_todos.each do |a_todo| %>

      <li>
      <div><%= a_todo.description %></div>

        <small>
          <%= time_ago_in_words(a_todo.created_at)%>

          <a href="/delete_todo/#{a_todo.id}">Delete</a>
        </small>

        <form action="/modify_todo/:path_id" method="post">
        <input type="hidden" name="query_status" value="Done">
          <button>Move to Done</button>
        </form>
      </li>
    <% end %>
      
  <div class="done" color="grey">

  <h2>Done</h2>

  <ul>
       <% next_todos = Todo.where({:status => "Done"}) %>
       <% next_todos.each do |a_todo| %>
      <li>
       <div><%= a_todo.description %></div>

        <small>
          <%= time_ago_in_words(a_todo.created_at)%>

          <a href="/delete_todo/#{a_todo.id}">Delete</a>
        </small>

        
      <li>
       <% end %>
